.razorwings-translation-text {
    margin-bottom: 0;
    font-size: 0.85em;
}

.razorwings-translation-pending {
    color: #888;
}

.razorwings-translation-success {
    color: #49bbcf;
}

.razorwings-translation-error {
    color: #d9534f;
}

.razorwings-language-selector-select {
    display: block;
}
